/* From Uiverse.io by yashasvi9199 */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #171717;
    border-radius: 25px;
    transition: 0.4s ease-in-out;
  }
  
  .form_card {
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    border-radius: 30px;
    transition: all 0.3s;
  }
  
  .form_card2 {
    border-radius: 0;
    transition: all 0.2s;
  }
  
  .form_card2:hover {
    transform: scale(0.98);
    border-radius: 50px;
  }
  
  .form_card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }
  
  #heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
  }
  
  .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
  }
  
  .form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
  }
  
  
  .button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background: #e81cff;
    color: white;
    cursor:pointer;
  }
  
  .button3:hover {
    background: #fc00ff;
    transform: scale(1.05);
    color: white;
  }
  .spinner {
  border: 2px solid transparent;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

 .button4 {
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background: #e81cff;
    color: white;
    cursor:pointer;
    }
  .button4:hover {
    background: #fc00ff;
    transform: scale(1.05);
    color: white;
  }
